{% extends 'companymaster/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="container-fluid" id="headerbx" style="background-image:url('{% static 'asset/bg.jpg' %}');">
	<div class="container-fluid filtersearch">
		<div class="row">
			<div class="col-lg-6">
				<div class="headingbg">
					<h5><i class="icofont-plus"></i> Add Company</h5>
				</div>
			</div>
		</div>
	</div>
</div>

<!--Modal-->
<div class="modal fade" id="addpdf" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
		<div class="modal-header">
		  <h4 class="modal-title">Add</h4>
		  <button type="button" class="close" data-dismiss="modal">
			<i class="icofont-close-circled"></i>
		  </button>
		</div>
		<div class="modal-body">
		   <div class="form-group">
					<label>File Name</label>
					<div class="line"></div>
					<input type='text' class='dtfc form-control' name='filename' id='uploadfilename' />
			</div>
			<div class="form-group">
					<label>Add PDF LINK</label>
					<div class="line"></div>
					<input type='text' class='dtfc form-control' name='uri' id='pdf_uri' />
			</div>
		  <div class="form-group">
					<label>Add PDF File</label>
					<div class="line"></div>
					<input type='file' accept="application/pdf"  class='dtfc form-control' name='file' id='pdf_file' />
			</div>
		  
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		  <button type="button" class="btn btn-primary" onclick="addPDF()">Save changes</button>
		</div>
	  </div>
	</div>
  </div>

<div class="container-fluid" id="contentmaindiv">
	<div class="container-fluid whitepatch">
		<div class="tp_side">
			<div class="row">
				<div class="col-md-6">
					<h3 class="tb_head"><i class="icofont-info-circle"></i> Offering Details</h3>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-2" style='display:flex;gap:4px;margin-left:auto;'>
					<button style='margin-left:auto;' data-toggle="modal" data-target="#addpdf" type="button" class="btn-sm btn-info btn fl_rg shw" data-original-title="" title=""><i class="icofont-plus"></i> <span>Add PDF</span></button>
					<div style='width:100px;'>
					{{offerForm.pdf}}
					<div class="fr" ><a href="{% static 'asset/pdf.pdf' %}" target="_blank"><i class="icofont-file-pdf"></i>
							View PDF </a></div>
					</div>
					
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-12 fcc" style>
				<div class="form-group" style="margin-bottom:20px;">
					<label class='required-field'>Choose Offering</label>
					{% if companyID %}
					{{offerForm.choice | attr:"disabled:true" }}
					{% else %}
					{{offerForm.choice}}
					{% endif %}
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label class='required-field'>Company</label>
					<!--<div class="line"></div>-->
					{% if companyID %}
					{{offerForm.company | attr:"disabled:true"}}
					{% else %}
					{{offerForm.company}}
					{% endif %}
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label class='required-field'>Snapshot Date</label>
					{{offerForm.snapshot_date}}
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i> View PDF </a></div>
				</div>
			</div>


			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Listing Status</label>
					<div class="line"></div>
					{{offerForm.listing_status}}
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>IPO Status</label>
					<div class="line"></div>
					{{offerForm.ipo_status}}
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Offer Status</label>
					<div class="line"></div>
					{{offerForm.offer_status}}
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Type of Listing</label>
					<div class="line"></div>
					{{offerForm.type_of_listing}}
					<div class="fr"><a href="{% static 'asset/pdf.pdf' %}" download=""><i class="icofont-file-pdf"></i>
							View PDF </a></div>
				</div>
			</div>

			<div class="col-md-4 col-sm-3 col-xs-12 fcc">
				<div class="form-group">
					<label for="usr">Use of Proceeds</label>
					{{offerForm.use_of_Proceeds}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.use_of_Proceeds_pdf}}
						{{offerForm.use_of_Proceeds_page_no}}
					</div>
				</div>
			</div>

		</div>
	</div>
</div>



<div class="container-fluid" id="contentmaindiv">
	<div class="container-fluid whitepatch">
		<div class="tp_side">
			<div class="row">
				<div class="col-md-6">
					<h3 class="tb_head"><i class="icofont-info-circle"></i> Important Dates</h3>
				</div>
			</div>
		</div>

		<div class="row">

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>IPO Announcement Dt.</label>
					{{offerForm.ipo_announcement_dt}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.ipo_announcement_dt_pdf}}
						{{offerForm.ipo_announcement_dt_page_no}}
					</div>
				</div>
			</div>



			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>IPO Pr. Announcement Dt.</label>
					{{offerForm.ipo_pr_announcement_dt}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.ipo_pr_announcement_dt_pdf}}
						{{offerForm.ipo_pr_announcement_dt_page_no}}
					</div>
				</div>
			</div>
	
	
			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>IPO Start Dt.</label>
					{{offerForm.ipo_start_dt}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.ipo_start_dt_pdf}}
						{{offerForm.ipo_start_dt_page_no}}
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>IPO End Dt.</label>
					{{offerForm.ipo_end_dt}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.ipo_end_dt_pdf}}
						{{offerForm.ipo_end_dt_page_no}}
					</div>
				</div>
			</div>
	
	
			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Share Issue Dt.</label>
					{{offerForm.share_issue_dt}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.share_issue_dt_pdf}}
						{{offerForm.share_issue_dt_page_no}}
					</div>
				</div>
			</div>
	
	
			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Date of Listing</label>
					{{offerForm.date_of_listing}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.date_of_listing_pdf}}
						{{offerForm.date_of_listing_page_no}}
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Withdrawn Date</label>
					{{offerForm.withdrawn_date}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.withdrawn_date_pdf}}
						{{offerForm.withdrawn_date_page_no}}
					</div>
				</div>
			</div>

			<div class="col-md-2 col-sm-3 col-xs-6 fcc">
				<div class="form-group">
					<label>Postpone Date</label>
					{{offerForm.postpone_date}}
					<div style='display:flex;gap:2px;margin-top:2px;'>
						{{offerForm.postpone_date_pdf}}
						{{offerForm.postpone_date_page_no}}
					</div>
				</div>
			</div>

		</div>

	</div>

</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			{% if companyID %}
			<a href="/addcompany-2-update/{{companyID}}/{{tid}}" type="button" class="btn btn-warning shw">Back</a>	
			{% elif offering %}
			<button type="button" class="btn btn-warning shw" disabled>Back</button>
			{% else %}
			<a href="/addcompany-2" type="button" class="btn btn-warning shw">Back</a>
			{% endif %}

			{% if companyID %}
			<a type="button" id="submitButton" onclick="submitForm({{tid}})" class="btn btn-success shw">Submit</a>
			{% else %}
			<a type="button" id="submitButton" onclick="submitForm()" class="btn btn-success shw">Submit</a>
			{% endif %}

			{% if companyID %}
			<a href="/addcompany-4-update/{{companyID}}/{{tid}}" type="button" class="btn btn-primary shw">Next</a>	
			{% elif offering %}
			<a href="/add-offershare" type="button" class="btn btn-primary shw">Next</a>	
			{% else %}
			<a href="/addcompany-4" type="button" class="btn btn-primary shw">Next</a>	
			{% endif %}
		</div>
	</div>
</div>

</div>
<!----------content-wrap-------------->

<div id="footer">
	<div class="container-fluid">
		<div class="pull-right hidden-xs">
			<b>Version</b> 2.4.0
		</div>Copyright © 2018-2019 <a href="https://www.decimalpointanalytics.com/" target="_blank">Decimal Point.</a>
		All rights reserved.
	</div>
</div>

</div>
<!----------page-container-------------->
<script>

	var choice;

	$(function () {
		$('#date_of_listing').datepicker()
		$('#share_issue_dt').datepicker()
		$('#ipo_end_dt').datepicker()
		$('#ipo_start_dt').datepicker()
		$('#pr_announcement_dt').datepicker()
		$('#announcement_dt').datepicker()
		$('#snapshot_date').datepicker()
		$('#withdrawn_date').datepicker()
		$('#postpone_date').datepicker()
	})

	function submitForm(tid) {
		choice = $('input[type="radio"]:checked').val()

		if (choice && $("#id_company").val() && $("#snapshot_date").val()){
			var url = "{% url 'offering_details_submit_form' %}";
			var data = {};
			data['tid'] = tid;
			data['snapshot_date'] = $("#snapshot_date").val();
			data['choice'] = choice;
			data['company'] = $("#id_company").val();
			data['listing_status'] = $("#id_listing_status").val();
			data['ipo_status'] = $("#id_ipo_status").val();
			data['use_of_Proceeds'] = $("#id_use_of_Proceeds").val();
			data['offer_status'] = $("#id_offer_status").val();
			data['type_of_listing'] = $("#id_type_of_listing").val();
			data['ipo_announcement_dt'] = $("#announcement_dt").val();
			data['ipo_pr_announcement_dt'] = $("#pr_announcement_dt").val();
			data['ipo_start_dt'] = $("#ipo_start_dt").val();
			data['ipo_end_dt'] = $("#ipo_end_dt").val();
			data['share_issue_dt'] = $("#share_issue_dt").val();
			data['date_of_listing'] = $("#date_of_listing").val();
			data['postpone_date'] = $("#postpone_date").val();
			data['withdrawn_date'] = $("#withdrawn_date").val();
			
			data['use_of_Proceeds_pdf'] = $('#id_use_of_Proceeds_pdf').val();
			data['use_of_Proceeds_page_no'] = $('#id_use_of_Proceeds_page_no').val();

			data['ipo_announcement_dt_pdf'] = $('#id_ipo_announcement_dt_pdf').val();
			data['ipo_announcement_dt_page_no'] = $('#id_ipo_announcement_dt_page_no').val();

			data['ipo_pr_announcement_dt_pdf'] = $('#id_ipo_pr_announcement_dt_pdf').val();
			data['ipo_pr_announcement_dt_page_no'] = $('#id_ipo_pr_announcement_dt_page_no').val();

			data['ipo_start_dt_pdf'] = $('#id_ipo_start_dt_pdf').val();
			data['ipo_start_dt_page_no'] = $('#id_ipo_start_dt_page_no').val();

			data['ipo_end_dt_pdf'] = $('#id_ipo_end_dt_pdf').val();
			data['ipo_end_dt_page_no'] = $('#id_ipo_end_dt_page_no').val();

			data['share_issue_dt_pdf'] = $('#id_share_issue_dt_pdf').val();
			data['share_issue_dt_page_no'] = $('#id_share_issue_dt_page_no').val();

			data['date_of_listing_pdf'] = $('#id_date_of_listing_pdf').val();
			data['date_of_listing_page_no'] = $('#id_date_of_listing_page_no').val();

			data['postpone_date_pdf'] = $('#id_postpone_date_pdf').val();
			data['postpone_date_page_no'] = $('#id_postpone_date_page_no').val();

			data['withdrawn_date_pdf'] = $('#id_withdrawn_date_pdf').val();
			data['withdrawn_date_page_no'] = $('#id_withdrawn_date_page_no').val();
			
			bootbox.confirm({
			message: "Confirm Submit?",
			buttons: {
				confirm: {
				label: 'Yes',
				className: 'btn-success'
				},
				cancel: {
				label: 'No',
				className: 'btn-danger'
				}
			},
			callback: function (result) {
				if(result){
					start_loading();
					$.ajax({
						url: url,
						method: 'POST',
						data: JSON.stringify(data),
						success: function (data) {
							stop_loading();
							make_alert("success","Offering details added successfully!")
						},
						error: function (jqXHR, status, err) {
							stop_loading();
							make_warning_alert("danger","Sorry, Something went wrong.");
						},
					});
				}
			}
		});
		}else{
			make_warning_alert("warning","Mandatory fields are required.")
		}
	}

</script>

<script>
function addPDF(){
	 start_loading();
		file = $('#pdf_file')[0].files[0]
		uri = $('#pdf_uri').val()
		
		filename = $('#uploadfilename').val()
		var form = new FormData();
		form.append('filename',filename);
		form.append('file',file)
		form.append('uri',uri)
		form.append('action', 'add-pdf')
        form.append('csrfmiddlewaretoken', '{{ csrf_token }}')

		   $.ajax({ 
			url: '{% url "addpdf" %}',
			method: 'POST',
			cache: false,
              processData: false,
              contentType: false,
              enctype: 'multipart/form-data',
			data: form,
			success: function (data) {
				stop_loading();
				make_alert("success","PDF uploaded successfully !");
			},
			error: function (jqXHR, status, err) {
				stop_loading();
				make_warning_alert("danger","Sorry, Something went wrong.");
			},
		});  
		
}

</script>
<script>
let pdfFilesEl = Array.from(document.querySelectorAll('.pdf-file'))
pdfFilesEl.forEach(el=>{
el.addEventListener('change',function(e){
	console.log(e.target.parentElement)
const parent = e.target.parentElement.parentElement;
parent.querySelector('.fr a').href = e.target.value


})
})
</script>
<style>
.required-field::after {
    content: "*";
    color: red;
}
</style>
{% endblock %}